version: "3.9"

services:
  redis:
    image: redis:7.4
    ports:
      - "6379:6379"

  api:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      ENVIRONMENT: production
      DEBUG: "False"
    ports:
      - "8000:8000"
    depends_on:
      - redis

  orchestrator:
    build: .
    command: python -m orchestrator.starter
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      ENVIRONMENT: production
      DEBUG: "False"
    depends_on:
      - redis

  worker:
    build: .
    command: python -m workers.worker
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      ENVIRONMENT: production
      DEBUG: "False"
    depends_on:
      - redis
    restart: unless-stopped
